.field {
  margin-bottom: 1rem;
}

.field-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

:host ::ng-deep {
  .p-password {
    width: 100%;
  }

  .p-password input {
    width: 100%;
  }
}
