<div class="p-4">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <div class="card">
    <div class="flex justify-content-between align-items-center mb-4 pb-3 border-bottom-1 surface-border">
      <h2 class="m-0">{{ 'menus.title' | translate }}</h2>
      <button
        pButton
        [label]="'menus.createMenu' | translate"
        icon="pi pi-plus"
        (click)="openCreateDialog()"
        class="p-button-success"
      ></button>
    </div>

    <p-treeTable
      [value]="menuNodes()"
      [loading]="loading()"
      styleClass="p-treetable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'menus.name' | translate }}</th>
          <th>{{ 'menus.icon' | translate }}</th>
          <th>{{ 'menus.route' | translate }}</th>
          <th>{{ 'menus.displayOrder' | translate }}</th>
          <th style="width: 200px">{{ 'menus.actions' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode">
          <td>
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <strong>{{ rowData.name }}</strong>
          </td>
          <td>
            <i *ngIf="rowData.icon" [class]="rowData.icon + ' text-xl'"></i>
            <span *ngIf="!rowData.icon" class="text-gray-400">-</span>
          </td>
          <td>
            <code *ngIf="rowData.route" class="bg-gray-100 px-2 py-1 rounded">{{ rowData.route }}</code>
            <span *ngIf="!rowData.route" class="text-gray-400">-</span>
          </td>
          <td>{{ rowData.displayOrder }}</td>
          <td>
            <button
              pButton
              icon="pi pi-key"
              class="p-button-text p-button-sm p-button-warning"
              [routerLink]="['/menus', rowData.id, 'permissions']"
              [pTooltip]="'menus.setupPermissions' | translate"
            ></button>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-text p-button-sm p-button-info"
              (click)="openEditDialog(rowData)"
              [pTooltip]="'common.edit' | translate"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-text p-button-sm p-button-danger"
              (click)="deleteMenu(rowData.id, rowData.name)"
              [pTooltip]="'common.delete' | translate"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-center p-4">
            {{ 'menus.noMenus' | translate }}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>

<!-- Use separate dialog component -->
<app-menu-dialog
  [(visible)]="showDialog"
  [mode]="dialogMode"
  [menuId]="selectedMenuId"
  [menuData]="selectedMenuData"
  [availableParents]="availableParents()"
  (saved)="onMenuSaved()">
</app-menu-dialog>
