.field {
  margin-bottom: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.col-6 {
  grid-column: span 1;
}

.field-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

:host ::ng-deep {
  .p-inputnumber,
  .p-calendar,
  .p-dropdown {
    width: 100%;
  }
}
