/* PrimeNG Theme */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* PrimeFlex for utilities */
@import "primeflex/primeflex.css";

body {
  margin: 0;
  font-family: var(--font-family);
}
